footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--fs-600);
	background-color: var(--purple--500);
	color: var(--purple--50);
	flex-wrap: wrap;
}

footer *:not(:last-child) {
	margin-bottom: var(--fs-400);
}

footer h4 {
	font-weight: normal;
}
