body {
	font-family: raleway;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin:0;
	padding:0;
	font-family: 'Roboto Condensed',sans-serif !important;
	
}
#tableLink{
	display: table;
	margin:100px auto;
	
/*	padding: 120px 0 0 0;*/
}

.box{
	position:relative;
	width: 400px;
	height:300px;
	overflow: hidden;
	border-radius: 10px;
	background: #000;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	transition: .4s
}
.box:hover {
	transform:translateY(-30px);
	box-shadow: 0 50px 50px rgba(0,0,0,.5);
}
.box .imgBox{
	position:relative;
	width: 50rem;
	height: 40rem;
}
/*autofit image inside div*/
.box .imgBox img{
	max-width: 100%;
  max-height: 100%;
	transition: .4s;
}
.box:hover .imgBox img {
	opacity: .5;
	transform: translateY(-40px);
}
.box .content{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	box-sizing: border-box;
	transition: .5s;
	opacity: 0;
}
.box:hover .content{
	opacity: 1;
	bottom: -10px;
}
.box .content h3{
	font-size: 48px;
	color: #fff;
	font-weight: 700;
}
.box .content p{
	font-size: 18px;
	color: #fff;
	font-weight: 400;
}
.box .content .btnD{
	border: none;
	background:#fe1b70;
	color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	font-weight: 700;
	transition: .5s;
}
.box .content .btnD:hover{
	border: none;
	background:#f6fe1b;
	color: #262626;
}
/*flechitas de avanzar*/
.previous {
    background-color: #0d40a5;
    color: #fff;
		margin-left:2%;
	position:relative;
	transition:0.5s;
}
.next {
	position:relative;
  background-color: #0d40a5	;
  color: white;
	margin-left:30%;
	transition:0.5s;
}
.round {
    border-radius: 50%;
	  text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.round:hover {
    background-color: #0009;
    color: #fff;
}
#demo{
	margin-left:28.4%;
	margin-top:1%;
	padding: 0 auto;
}