.hero {
	background: url(../img/cover.png);
	background-size: cover;
	background-origin: center;
	background-position: bottom;
	background-repeat: no-repeat;
	min-height: 510px;
}

.container {
	padding-left: var(--fs-600);
	padding-right: var(--fs-600);
}
.container2 {
	padding-left: var(--fs-700);
	padding-right: var(--fs-700);
}

.hero__content {
	padding-top: var(--fs-600);
	padding-bottom: var(--fs-600);
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.hero__text-content h2 {
	color: var(--purple--50);
	font-size: var(--fs-400);
	text-transform: uppercase;
	font-weight: bold;
}

.hero__text-content p {
	color: var(--purple--50);
	margin-top: var(--fs-400);
	margin-bottom: var(--fs-600);
	line-height: 1.7;
}

/*Services*/
.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: var(--fs-900);
	padding-bottom: var(--fs-900);
}

.services__text {
	text-align: center;
	margin-bottom: var(--fs-700);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.services__text h2 {
	font-style: normal;
	font-weight: bold;
	font-size: var(--fs-600);
	text-transform: uppercase;
	color: #4a1d96;
}

.services__text p {
	margin-top: var(--fs-400);
	max-width: 730px;
	text-align: center;
}

/*Nos Réalisation*/
.realisations {
	background-color: var(--gray--50);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.realisations h3 {
	text-align: center;
	font-size: var(--fs-600);
	font-weight: bold;
	color: var(--purple--500);
}

.projets {
	padding-left: var(--fs-600);
	padding-right: var(--fs-600);
	margin-top: var(--fs-800);
	margin-top: var(--fs-700);
}
.personnel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #ebebeb;
	padding: var(--fs-400);
	overflow-x: hidden;
}
.personnel h2{
	text-align: center;
	padding-bottom: 30px;
	color: var(--purple--400);
}
.personnel .team {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.personnel .team img{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.personnel .team div{
  width: 250px;
  border-radius: 15px;
  box-shadow: 5px 5px 2px 1px rgba(77, 61, 107, 0.4) ;
}
.personnel .team p{
	text-align: center;
}
/**SECTION CONTACTER NOUS**/
.contact {
	margin: var(--fs-900) 0;
}

.contact__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact__header h3 {
	color: var(--purple--500);
	font-size: var(--fs-600);
	margin-bottom: var(--fs-600);
}

.contact__header p {
	max-width: 580px;
	text-align: center;
}

.contact__content {
	margin: var(--fs-900) 0;
}

.contact__content div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--fs-700);
	border-radius: 12px;
	transition: all 0.3s;
}

.contact__content div h4 {
	color: var(--purple--900);
	font-weight: normal;
	text-align: center;
}

.contact__content div:not(:last-child) {
	margin-bottom: 32px;
}

.contact__content div svg {
	width: var(--fs-900);
	margin-bottom: var(--fs-200);
	fill: var(--purple--500);
}

.contact__content div.c__active,
.contact__content div:hover {
	background-color: var(--purple--500);
	color: var(--purple--50);
	cursor: pointer;
	box-shadow: 0 6px 25px rgba(144, 97, 249, 0.5);
}

.contact__content div.c__active h4,
.contact__content div:hover h4,
.contact__content div.c__active svg,
.contact__content div:hover svg {
	fill: var(--purple--50);
	color: var(--purple--50);
}

.contact__form {
	max-width: 775px;
	border-radius: var(--fs-300);
	box-shadow: 0 4px 25px rgba(108, 43, 217, 0.1);
}

.contact__form form {
	width: 100%;
	padding: var(--fs-700);
}

